@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --animate-marquee: marquee 80s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-33.333%);
  }
}

.hover-pause:hover {
  animation-play-state: paused;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  color: #0f172a;
}

@keyframes scroll-line {
  0% {
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(1);
    transform-origin: top;
  }
  51% {
    transform: scaleY(1);
    transform-origin: bottom;
  }
  100% {
    transform: scaleY(0);
    transform-origin: bottom;
  }
}

.animate-scroll-line {
  animation: scroll-line 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}